asttokens==2.0.5
async-lru==1.0.2; python_version >= "3.6" and python_version < "4.0"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
autopep8==1.5.7
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and platform_system == "Windows"
executing==0.8.2
icecream==2.1.1
iniconfig==1.1.1; python_version >= "3.6"
joblib==1.0.1; python_version >= "3.6"
nltk==3.6.4; python_version >= "3.6"
packaging==21.0; python_version >= "3.6"
pluggy==1.0.0; python_version >= "3.6"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyaes==1.6.1; python_version >= "3.6" and python_version < "4.0"
pyasn1==0.4.8; python_version >= "3.5" and python_version < "4"
pycodestyle==2.7.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pygments==2.10.0; python_version >= "3.5"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pyrogram==1.2.9; python_version >= "3.6" and python_version < "4.0"
pysocks==1.7.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
pytest==6.2.5; python_version >= "3.6"
pytgcalls==2.1.0; python_version >= "3.6" and python_version < "4.0"
python-dotenv==0.19.0; python_version >= "3.5"
python-slugify==5.0.2; python_version >= "3.6"
regex==2021.9.30; python_version >= "3.6"
rsa==4.7.2; python_version >= "3.5" and python_version < "4"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
telethon==1.23.0; python_version >= "3.5"
text-unidecode==1.3; python_version >= "3.6"
tgcalls==2.0.0; python_version >= "3.6" and python_version < "4.0"
tgcrypto==1.2.2; python_version >= "3.6" and python_version < "4.0"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tqdm==4.62.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
